@font-face {

    font-family: "MerriweatherSans";
    src: url(../polices/MerriweatherSans-Regular.ttf),
         url(../polices/MerriweatherSans-Bold.ttf);
}

body {
--bleu : #002273;
--fond : rgba(0, 0, 0, 0.21);
font-family: 'MerriweatherSans', sans-serif;
background-image: url("../images/background.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.maNav{
    background-color: var(--fond);
    color: white;
    font-size: 10px;
}
.aNav{
    border-color: 5px solid white;
}
.bouton{
    color: var(--bleu);
    background-color: white;
}
.bouton:hover{
    color: white;
    background-color: var(--bleu);
}
   .dropdown-menu {
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item{
    color: var(--bleu);
}
.dropdown-item:hover{
    background-color: var(--bleu);
    color: white;

}
.navbar-toggler:focus{
    box-shadow: none;
    border-color: white;

} 
.contenu{
    background-color: rgb(255, 255, 255);
    width: 70%;
}
.petiteCarte{
    border: solid 3px var(--bleu);
    border-radius: 10px;
}
.grandeCarte{
    background-color: var(--bleu);
    
}
.grandeCarte:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}
.texte{
    color: var(--bleu);
}  
.lienCarte{
   text-decoration: none;
   color: white;
}