/* BODY */

@font-face {

    font-family: "MerriweatherSans";
    src: url(../polices/MerriweatherSans-Regular.ttf),
         url(../polices/MerriweatherSans-Bold.ttf);
}

body {
    --bleu : #002273;
    --fond : rgba(0, 0, 0, 0.21);
    font-family: 'MerriweatherSans', sans-serif;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* BARRE DE NAVIGATION */

.maNav{
    background-color: var(--fond);
    color: white;
}
.aNav{
    border-color: 5px solid white;
}
.bouton{
    color: var(--bleu);
    background-color: white;
}
.bouton:hover{
    color: white;
    background-color: var(--bleu);
    border-color: white;
}
.boutonInverser{
    color: white;
    background-color: var(--bleu);
}
.boutonInverser:hover{
    color: var(--bleu);
    background-color: white;
    border-color: var(--bleu);
}
   .dropdown-menu {
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item{
    color: var(--bleu);
}
.dropdown-item:hover{
    background-color: var(--bleu);
    color: white;

}
.navbar-toggler:focus{
    box-shadow: none;
    border-color: white;

} 

/* CONTENU */
.contenu{
    background-color: rgb(255, 255, 255);
    width: 70%;
    
}
.petiteCarte{
    border: solid 5px var(--bleu);
    border-radius: 10px;
}
.moyenneCarte{
    border: solid 2px var(--bleu);
    border-radius: 10px;
}
.moyenneCarte:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}
.grandeCarte{
    background-color: var(--bleu);   
}

.grandeCarte:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}
.grandeCarteInverser{
    background-color: white;
    color: var(--bleu);  
    border: solid 5px var(--bleu);
}

.grandeCarteInverser:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}
.texte{
    color: var(--bleu);
}  
.lienCarte{
   text-decoration: none;
   color: white;
}
.lienCarteInverser{
    text-decoration: none;
    color: var(--bleu);
 }
.divFormulaireContact{
    background-color: var(--bleu);
    border-radius: 10px;
    width: 70%;
}


/* TABLEAU BOOTSTRAP */

.pagination-info, .page-list, .pagination {
    color: white; 
}

/* Couleur de fond du tableau */
th.success,td.success {
    background: none;
    color: white;
}

/* Bordure du tableau */
.monTableau{
    background-color: var(--bleu);
    border-radius: 10px;
}
.tableau {
    border: 2px solid white;
}

 /* Couleur de survol des lignes du tableau */
.tableau tbody tr:hover {
    background-color: var(--fond);
}

/* Couleur de pagination Precedent 1 2 ... Suivant */
.pagination .page-link {
    background: none; 
    border: none;
    color: #ffffff; 
}

.pagination .page-link:hover {
    background-color: white; 
    border: none; 
    color: var(--bleu); 
}

/* Couleur de la page active sur la pagination */
.pagination .page-item.active .page-link {
    color: var(--bleu);
    background-color: white;
}

/* Bouton de la barre d'outil */
.bootstrap-table .fixed-table-toolbar .btn-secondary {
    background-color: white;
    border-color: white; 
    color: var(--bleu); 
}

.bootstrap-table .fixed-table-toolbar .btn-secondary:hover {
    background-color: var(--bleu);
    color: #ffffff; 
}
/* Bouton d'affichage par */
.page-list .btn-secondary{
    background-color: white;
    border-color:var white;
    color: var(--bleu); 
}
.page-list .btn-secondary:hover{
    background-color:var(--bleu);
    border-color:white; 
    color: #ffffff;
}

/* ONGLETS */

.tabcontent {
    display: none;
}

.tablinks {
    background-color: var(--bleu);
    width: 100%;
    color: white;
    padding: 14px 20px;
    border: 5px solid var(--bleu);
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    cursor: pointer;
}

.tablinks:hover {
    background-color:#001953;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}

.tablinks.active {
    background-color:white;
    color: var(--bleu);
}

/* FORMULAIRE SWEETALERT */

.swal2-styled.popup-btn {
    background-color: var(--bleu);
    color: white;
    border: 2px solid var(--bleu);
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.swal2-styled.popup-btn:hover {
    background-color: white;
    color: var(--bleu);
    border: 2px solid var(--bleu);
    border-radius: 10px;
    box-sizing: border-box;
}
.swal2-styled.popup-annuler{
    background-color: grey;
    color: white;
    border: 2px solid gray;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.swal2-styled.popup-annuler:hover {
    background-color: white;
    color: var(--bleu);
    border: 2px solid var(--bleu);
    border-radius: 10px;
    box-sizing: border-box;
}

/* PHOTO */

.lightbox .lb-close {
    position: absolute;
    top: 10px;
    right: 300px;
    left: auto;
    bottom: auto;
    z-index: 1000;
}
.formulaireConnexion{
    background-color: var(--bleu);
    border-radius: 10px;
    color: white;
}

/* FOOTER */

.monFooter {
    background-color: var(--fond);   
    color: white;
}


footer div.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}